@font-face {
    font-family: "Yellowtail";
    src: url("Assets/Fonts/Yellowtail-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Great Vibes";
    src: url("Assets/Fonts/GreatVibes-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "VeganStylePersonalUse";
    src: url("Assets/Fonts/VeganStylePersonalUse-5Y58.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}
body {
    margin: 0;
    background: content-box radial-gradient(#197c7c, #1d527e);
}

.page-title {
    color: aqua;
    font-family: Yellowtail;
    font-weight: normal;
    text-align: center;
    font-size: 6em;
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-info {
    color: blanchedalmond;
    font-family: Great Vibes;
    font-size: 3em;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 30px;
    justify-content: center;
    perspective: 500px;
}

.game-card {
    position: relative;
    height: 170px;
    width: 125px;
}

.game-card.matched .card-value {
    animation: dance 1s linear infinite 500ms;
}

@keyframes dance {
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(30deg);
    }
}

.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: crimson;
    font-family: VeganStylePersonalUse;
}
.overlay-text-small {
    margin-top: 60px;
    font-size: .3em;
}
.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
    from {
        background-color: rgb(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgb(0, 0, 0, .8);
        font-size: 10vw;
    }
}

.game-card.visible .game-card-back {
    transform: rotateY(-180deg);
}

.game-card.visible .game-card-front {
    transform: rotateY(0);
}

.game-card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    transition: transform 500ms ease-in-out;
}

.game-card-back {
    background-color: rgb(202, 167, 50);
    border-color: rgb(30, 114, 210);
}

.game-card-front {
    transform: rotateY(180deg);
    background-color: coral;
    border-color: cornflowerblue;
}

.card-value {
    height: 60px;
    transition: transform 100ms ease-in-out;
    transform: scale(.9);
}

.game-card-front:hover .card-value{
    transform: scale(1)
}


.cob-web {
    position: absolute;
    height: 40px;
    width: 40px;
    transition: width 200ms ease-in-out, height 200ms ease-in-out;
}

.game-card-back:hover .cob-web {
   height: 52px;
   width: 52px;
}

.cob-web-top-left {
    transform: rotate(270deg);
    left: 0;
    top: 0;
}

.cob-web-top-right {
    right: 0;
    top: 0;
}

.cob-web-bottom-right {
    transform: rotate(90deg);
    right: 0;
    bottom: 0;
}

.cob-web-bottom-left {
    transform: rotate(180deg);
    left: 0;
    bottom: 0;
}

.arrow {
    align-self: flex-start;
    height: 50px;
    transform: translateY(-20px);
    transition: transform 100ms ease-in-out;
}

.game-card-back:hover .arrow {
    transform: translateY(50px);
}

@media (max-width: 600px) {
    .game-container {
        grid-template-columns: repeat(2, auto);
    }
    .game-info-container {
        flex-direction: column;
        align-items: center;
    }
}

.btn-controller {
    position: absolute;
    top: 50px;
    left: 50px;
    cursor: pointer;
    font-family: Great Vibes;
    font-size: 2vw;
    font-weight: 500;
}

.btn-controller:hover {
    color: rgb(202, 167, 50);
    font-size: 3vw;
    font-weight: 500;
}

.overlay-text-small:hover {
    cursor: pointer;
}